.course-item {
    margin: 10px;
    border-width: 2px;
}

.content-right {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.action-btn {
    width: 80px;
    margin: 5px;
}

.top-rated-badge {
    font-size: 50%;
    vertical-align: middle;
}

.card.new-course-item {
    border-color: red;
}


.card.upcoming-course-item {
    border-color: lightgreen;
}