<div class="card course-item" appCourseHighlight [creationDate]="courseItem.creationDate">
  <div class="card-body">
    <div class="row">
      <div class="col-10">
        <div class="row">
          <div class="col-6">
            <h5 class="card-title"> {{courseItem.title | uppercase}}
              <span *ngIf="courseItem.topRated" class="badge badge-primary top-rated-badge">TOP RATED</span>
            </h5>
          </div>
          <div class="col-3">Duration: {{courseItem.duration | duration}}</div>
          <div class="col-3 text-right">{{courseItem.creationDate | date : "dd.MM.yyyy"}} </div>
        </div>
        <div class="row">
          <div class="col">
            <p class="card-text text-justify">{{courseItem.description}}</p>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="row content-right">
          <button type="button" class="btn action-btn edit-btn">Edit</button>
        </div>
        <div class="row content-right">
          <button type="button" (click)="deleteClicked(courseItem)" class="btn btn-danger action-btn delete-btn">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
